/* font-family: 'Hahmlet', serif; */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@700&display=swap');

input {
  border-color: rgb(198, 198, 198);
  border-radius: 8px 8px 8px 8px;
  text-align: center;
}

.input-title {
  width: 180px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.thumbnail {
  width: 960px;
  height: 500px;
  margin: 0 auto;
}

.font-black {
  color: black;  
}

.font-white {
  color: white;  
}

.shadow {
  text-shadow: 3px 3px 3px #7a7a7a;
}

 .thumbnail h1, h3 {
  width: 960px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  font-family: 'Hahmlet', serif;
}

.thumbnail h1 {
  font-size: 80px;
  line-height: 400px;
}

.thumbnail h3 {
  font-size: 30px;
  line-height: 360px;
}



.buttons {
  width: 500px;
  margin: 0 auto;
}

button {  
  background-color: transparent;
  border: none;
  margin: 30px 90px;
}

button img {
  width: 50px;
  height: 50px;
}